.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #606060;
    height: 500px;
    width: 300px;
    background-color: #566484;
    border: double 5px whitesmoke;
    border-radius: 20px;
}