@font-face {
    font-family: loubag;
    src: url(../../fonts/Loubag-Regular.ttf);
}
.copa-conteiner {
    margin-top: 20px;
    text-align: center;
}
.copa-conteiner p{
    font-family: loubag;
    font-weight: bold;
    color: #606060;
}
.copa-conteiner p:last-child{
    font-size: xx-small;
    font-weight: normal;
}