.tenida-conteiner {
    margin-top: 10px;
    width: 100vw;
    height: 170px;
    background-color: #566484;
    text-align: center;
}
.tenida-conteiner figure img{
    height: 80px;
}
.tenida-conteiner figure .smokin{
    margin-right: 20px;
    border: double 7px whitesmoke;
    border-radius: 10px;
    padding: 2px;
}
.tenida-conteiner figure img:last-child{
    margin-left: 20px;
    border: double 7px whitesmoke;
    border-radius: 10px;
    padding: 2px;
}
.tenida-conteiner p {
    margin-top: 10px;
    color: whitesmoke;
    font-family: loubag;
}