@import url('../variables.css');
@font-face {
    font-family: loubag;
    src: url(../../fonts/Loubag-Regular.ttf);
}
.countdown{
    background-color: var(--color-primary);
    height: 120px;
    width: 350px;
    border: double 5px whitesmoke;
    border-radius: 20px;
    font-family: loubag;
    color: whitesmoke;
    padding: 1px;
}
.countdown > p{
    margin: 0;
    font-size: medium;
}
.countdown-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size: 15px;
    margin: 15px 20px;
}
.countdown-element{
    text-align: center;
}
.countdown-element span{
    font-size: smaller;
}