@font-face {
    font-family: loubag;
    src: url(../../fonts/Loubag-Regular.ttf);
}
.cronometro {
    margin-top: 5px;
    background-color: #566484;
    height: 100px;
    width: 300px;
    border: double 5px whitesmoke;
    border-radius: 20px;
    font-family: loubag;
    color: whitesmoke;
}
.time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.time > p {
    margin: 0px;
}